@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$lightBox-bg: rgba(0, 0, 0, 0.75);

$base-font-size: 16px;
$font-family: "Kumbh Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

$Mobile: 375px;
$Desktop: 1440px;
