@import "_global.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-size: $base-font-size;
}

::-moz-selection {
	background: $pale-orange;
}
::selection {
	background: $pale-orange;
}

.container {
	max-width: $Desktop;
	margin: 0 auto;
}

nav {
	display: flex;
	align-items: center;
	height: 100px;
	border-bottom: 1px solid $Grayish-blue;
}

.navigation-links {
	display: flex;
	padding-left: 30px;
	list-style: none;
}

.navigation-links li {
	margin-right: 30px;
}

.navigation-links li a {
	color: $Dark-grayish-blue;
	text-decoration: none;
}

.cart-profile {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.cart-profile .profile img {
	width: 45px;
	margin-left: 25px;
}

main {
	display: flex;
	justify-content: space-between;
	padding: 50px 50px 50px 40px;
}

main section {
	width: calc(93% / 2);
}

// swiper slider styles
.product-image {
	position: relative;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
	max-height: 550px;
}

.mySwiper2 {
	height: 80%;
	width: 88%;
}

.mySwiper {
	width: 88%;
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
	margin: 0 auto;

	& .slider-thumbnail {
		justify-content: space-between;

		& .slider-thumbnail-item:last-child {
			margin-right: 0 !important;
		}
	}
}

.mySwiper .swiper-slide {
	width: 25%;
	max-width: 125px;
	height: 100%;
	opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
	border: 3px solid $orange;
	border-radius: 17px;
	opacity: 0.6;

	& img {
		opacity: 0.4;
	}
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	user-select: none;
}

// swiper slider styles end
.product-image {
	& .swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}

.product-details {
	display: flex;
	align-items: center;
}
.product-title1 {
	color: $orange;
	font-weight: 600;
	font-size: 1.3rem;
}

.product-heading {
	margin-top: 15px;
	font-size: 3rem;
	font-weight: 600;
}

.product-description {
	margin-top: 25px;
	color: $Dark-grayish-blue;
	font-size: 1.3rem;
}

.discount {
	color: $orange;
	font-size: 1rem;
	background: $pale-orange;
	padding: 4px 5px;
	border-radius: 5px;
	margin-left: 10px;
}

.price-new {
	display: flex;
	align-items: center;
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: 600;
}

.price-old {
	margin-top: 10px;
	font-size: 0.9rem;
	text-decoration: line-through;
	color: $Grayish-blue;
}

.product-atc {
	margin-top: 20px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.qty {
	background-color: $Light-grayish-blue;
	margin-right: 10px;
	border-radius: 10px;

	& span {
		color: $orange;
		cursor: pointer;
	}
	& span,
	input {
		background-color: transparent;
		border: none;
		outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 46px;
		height: 46px;
		text-align: center;
		font-weight: 600;
		font-size: 0.9rem;
	}
}

.sn-width {
	display: flex;
	justify-content: center;
	align-items: center;
}

.atc-btn {
	color: #fff;
	font-weight: 100;
	font-size: 0.9rem;
	background: $orange;
	padding: 13px 50px;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 20px 29px -15px $orange;

	& svg {
		margin-right: 10px;
		transform: scale(0.7);

		& path {
			fill: #fff;
		}
	}
}
